<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      Name: {{ animal.name }}
      <button
        mat-icon-button
        class="more-button"
        [matMenuTriggerFor]="menu"
        aria-label="Toggle menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="[index]">Expand</button>
        <button mat-menu-item [routerLink]="[index+'/edit']">Update</button>
        <button mat-menu-item (click)="removeAnimal()">Remove</button>
      </mat-menu>
    </mat-card-title>
    <mat-card-subtitle> Species: {{ animal.species }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div>
      <img [src]="animal.image" [alt]="animal.name" />
    </div>
  </mat-card-content>
</mat-card>
