<div class="grid-container">
  <div class="row">
    <div class="col-md-10">
      <form (ngSubmit)="onSubmit()" [formGroup]="newAnimalForm">
        <mat-card>
          <mat-card-header>
            <mat-card-title>title</mat-card-title>
            <mat-card-subtitle>subtitle</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content> </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Create animal</button>
            <button mat-raised-button color="warn" style="margin-left: 15px;" (click)="onCancel()">Cancel</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
