<form (ngSubmit)="onSubmit()" [formGroup]="newAnimalForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Check out this animal</mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Add animal to cart</button>
      <button
        mat-raised-button
        color="warn"
        style="margin-left: 15px"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
