<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards | async; track card) {
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="expandAnimal()">Expand</button>
                <!-- on click expand open new card show full details -->
                <button mat-menu-item>Remove</button>
                <!-- click remove from data -->
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
              <!-- add here name specirs and thumbnail -->
              Card Content Here
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              Add card
              <button mat-icon-button class="more-button" (click)="newAnimal()">
                <mat-icon>add_vert</mat-icon>
              </button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>Add your own animal here</div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>
