<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>{{ items }} ITEM{{ items !== 1 ? "S" : "" }}</h3>
    </mat-card-title>
  </mat-card-header>
  <hr />
  <mat-card-content>
    <div *ngFor="let item of bag">
      <mat-card class="row">
        <div class="col-sm-4"><img [src]="item.image" [alt]="item.name" /></div>
        <div class="col-sm-8">
          <mat-card-title> {{ item.name }} </mat-card-title>
          <mat-card-subtitle> {{ item.species }} </mat-card-subtitle>
        </div>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
