.spacer {
  flex: 1 1 auto;
}
.items {
  margin: 0px 10px;
}
.image {
  width: 90%;
  height: 90%;
}
mat-grid-tile {
  border: 1px solid black;
}
.slider {
  width: 80%;
}
.divider {
  margin: 10px 0px;
}
a {
  cursor: pointer;
}
.price {
  position: relative;
  top: 5px;
}
.animal-amount {
  top: 5px;
  position: relative;
}
