<mat-card>
  <mat-card-header>
    <h2>{{ items }} ITEM{{ items !== 1 ? "S" : "" }}</h2>
  </mat-card-header>
  <mat-divider> </mat-divider>
  <mat-card-content>
    <mat-grid-list
      style="width: 100%"
      class="items"
      [cols]="10"
      rowHeight="10px"
      *ngFor="let item of bag"
    >
      <mat-grid-tile [colspan]="3" [rowspan]="10"
        ><img class="image" [src]="item.image" [alt]="item.name"
      /></mat-grid-tile>
      <mat-grid-tile [colspan]="5" [rowspan]="10"
        >{{ item.name }}
        {{ item.species }}
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="5">
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button></mat-grid-tile
      >
      <mat-divider></mat-divider>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
