<form [formGroup]="myLoginForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="row">
    <div [className]="centerDiv">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Login form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div [className]="centerDiv">
              <mat-form-field class="full-width">
                <mat-label>Enter your password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
              <span
                class="help-block"
                *ngIf="
                  myLoginForm.get('password').touched &&
                  myLoginForm.get('password').invalid
                "
                >Password must be at least 6 characters long</span
              >
            </div>
          </div>
          <div class="row">
            <div [className]="centerDiv">
              <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input
                  matInput
                  formControlName="email"
                  placeholder="pat@example.com"
                />
              </mat-form-field>
              <span
                *ngIf="
                  myLoginForm.get('email').touched &&
                  myLoginForm.get('email').invalid
                "
                class="help-block"
                >Invalid email</span
              >
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button type="submit" class="Send" mat-raised-button color="primary" [disabled]="myLoginForm.invalid">
            {{ isLoginMode ? "Login" : "Sign up" }}
          </button> 
          <button style="margin-left: 10px;" type="button" mat-raised-button color="primary" (click)="isLoginMode=!isLoginMode">
            Switch to {{ !isLoginMode ? "login" : "sign up" }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</form>
