<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">Authentication</a>
      <a mat-list-item [routerLink]="['/shop']">Shop</a>
      <a mat-list-item [routerLink]="['/checkout']">Checkout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        class="nav-gap"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="nav-gap">frontend</span>
      <form class="example-spacer">
        <mat-form-field class="example-form-field nav-gap">
          <mat-label>Search for items</mat-label>
          <input
          [formControl]="searchForm"
            matInput
            class="search-input"
            #searchInput
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filterChanges$|async" [value]="option.name">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
          <button *ngIf="searchInput.value" matSuffix mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
        </mat-form-field>
      </form>
      <button
        matTooltip="Checkout my github!"
        mat-icon-button
        class="mat-icon share-icon nav-gap"
      >
        <mat-icon>share</mat-icon>
      </button>
      <button
        mat-icon-button
        [matTooltip]="'your bag is empty'"
        class="mat-icon shopping_cart-icon nav-gap"
      >
        <mat-icon matBadge="0" matBadgeColor="warn" matBadgeSize="small"
          >shopping_cart</mat-icon
        >
      </button>
      <button
        mat-icon-button
        class="mat-icon storage-icon nav-gap"
        [mat-menu-trigger-for]="menu"
        matTooltip="Manage your data"
      >
        <mat-icon>storage</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Fetch data</button>
        <button mat-menu-item>Save data</button>
      </mat-menu>
      <button mat-raised-button color="warn" class="logOut">Log out</button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
